.header-top-menu {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

.header-top-menu a {
    margin: 0px 4px;
}

.header-logo {
    background-color: #3f0267;
    height: 120px;
}

.header-logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 200;
    color: #fff;
    line-height: 120px;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.header-bottom-menu {
    z-index: 20;
    background-color: #fff;
    position: relative;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
}

.header-menu a {
    font-size: 18px;
}

.header-menu a:hover {
    color: #c9a0e4;
    cursor: pointer;
}

.menu-point {
    color: #55068a;
}

.search-input {
    width: 200px;
    border: none;
    border-bottom: 1px solid rgba(49, 49, 49, 0.4);
}

/* .search-input:hover {
    border-bottom: 1px solid #55068a;
    transition: 0.3s ease-in-out;
} */

.search-form i {
    font-size: 20px;
}

.search-form i:hover {
    cursor: pointer;
}

/*상단바 고정*/

/* header.sticky .header-menu {
    display: flex;
    justify-content: space-between;
    z-index: 20;
    position: fixed;
    top: 0;
    background-color: #3f0267;
    margin: 0;
    padding: 10px;
    width: 100%;
}

header.sticky .header-menu a {
    color: #ffffff;
}

header.sticky .search-input {
    border-bottom: 1px solid #ffffff;
} */

header.sticky .header-top-menu {
    display: none;
}

header.sticky .header-logo {
    display: none;
}

header.sticky .header-bottom-menu {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #3f0267;
    box-shadow: 0 2px 2px -2px #2f2b31;
}

header.sticky .header-menu a {
    padding: 4px 0;
}

header.sticky .header-menu a:hover {
    color: #c9a0e4;
    cursor: pointer;
}

@media screen and (max-width:940px) {
    .header-top-menu a {
        font-size: 10px;
    }

    .header-menu {
        margin: 10px 5%;
    }

    .header-menu a {
        font-size: 12px;
    }

    .search-form input {
        display: none;
    }
}