
		body{background: #273746;
			text-align: center;	
		}
		.mainContainer{
			width: 402px;
			position: relative;
			margin: 30px auto;
		}
		.container{
			position: relative;
			width: 200px;
			height: 200px;
			display: inline-block;
			overflow: hidden;
			float: left;
			margin-right: 1px;
			margin-bottom: 1px;
		}
		.image{
			display: block;
			width: auto;
			height:100%;
			-ms-transform: translate(-50px, 0); /* IE 9 */
    		-webkit-transform: translate(-50px, 0); /* Safari */
			transform: translate(-50px, 0);
		}

		.overlay{
			position: absolute;
			transition: all .3s ease;
			opacity: 0;
		}
		.container:hover .overlay{
			opacity: .6;
		}

		.text {
			color: black;
			font-family: sans-serif;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 18px;
			border: 1px solid white;
			padding: 8px 32px;
			border-radius: 5px;
		}

		.overlayLeft{
			height: 100%;
			width:0;
			top:0;
			left: 0;
			background: #82E0AA;
		}
		.container:hover .overlayLeft{
			width: 100%;
		}

		.overlayRight{
			height: 100%;
			width:0;
			top:0;
			right: 0;
			background: #82E0AA;
		}
		.container:hover .overlayRight{
			width: 100%;
		}

		.overlayBottom{
			height: 0;
			width:100%;
			bottom:0;
			left: 0;
			background: #82E0AA;
		}
		.container:hover .overlayBottom{
			height: 100%;
		}

		.overlayFade{
			height: 100%;
			width:100%;
			top: 0;
			left: 0;
			background: #82E0AA;
			opacity: 0;
		}
		.container:hover .overlayFade{
			opacity: .7;
		}

		.overlayRotate{
			height: 100%;
			width:100%;
			top: 0;
			left: 0;
			transform: rotate(90deg);
			background: #82E0AA;
		}
		.container:hover .overlayRotate{
			transform: rotate(0deg);
		}

		.overlaySkewX{
			height: 100%;
			width:100%;
			top: 0;
			left: 0;
			transform: skewX(60deg);
			background: #82E0AA;
		}
		.container:hover .overlaySkewX{
			transform: skewX(0deg);
		}

